/* LIMPIAR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {

}

/* BARRA */
.sidebar{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 180px;
    padding-top: 20px;
    background-color: #8b7000;
    transition: width 0.3s;
    font-size: 14px;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: #fff;
}

.sidebar .nav-link-selected {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration-line: none;
}

.sidebar .descripcion{

}

.sidebar .nav-link:hover {
    background-color: #554204;
    color: #000;
}

/* Logo */
.sidebar .nav-logo{
    align-items: center;
}

.sidebar .logo{
    display: block;
    margin: 0 auto 20px;
    width: 100px;
}

/* MAIN */
.main-content{
    height: 100px;
    margin-left: 180px;
    padding: 20px;
}

@media (max-width: 480px) {
    .sidebar{
        width: 60px;
    }

    .sidebar .descripcion{
        display: none;
    }

    .sidebar .nav-link {
        justify-content: center;
    }

    .main-content{
        margin-left: 60px;
    }
    
    .sidebar .logo{
        width: 30px;
    }
    
}